@import "../../node_modules/bulma/sass/utilities/functions";

@import "../../node_modules/vue-content-placeholders/src/styles.scss";

@import "./variables.scss";

//fonts
$family-sans-serif: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

html, body {
  height: 100%;
}

select {
  width: $select-width;
}

#background-container {
  background-color: $deep-black;
}

#brand {
  background-color: $brand-primary;
  padding-left: 0px;
  padding-right: 0px;
  grid-area: header;
}

//#drawer {
//  background-color: $soft-black;
//  padding-left: 0px;
//  padding-right: 0px;
//}

#banner {
  background-color: $steel-gray;
  grid-area: subheader;
  padding: 10px 10px 0px 10px;
}

#content {
  background-color: $steel-gray;
  padding: 10px 10px 0px 10px;
  grid-area: main;
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 224px auto;
  grid-auto-rows: minmax(48px, 100%);
  height: 100%;
  grid-template-areas:
    "header header"
    "subheader subheader"
    "main main";
}

.mogul-subHeader {
  padding-left: 24px;
  padding-right: 12px;
  line-height: 64px;
  vertical-align: middle;
  background-color: $dirty-white;
  font-size: $is-size-7half;
}

.is-size-7half {
  font-size: $is-size-7half;
}

.is-size-8 {
  font-size: $is-size-8;
}

.fa-heart-o {
  color: $bleeding-heart;
}

.fa-plus {
  color: $baby-blue;
}

.sorted-cell {
  background-color: lighten($cyan, 40%);
  font-weight: 700;
}

// set derived variables
@import "../../node_modules/bulma/bulma.sass";

// bulma overrides

