@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/vue-content-placeholders/src/styles.scss";
@import "./variables.scss";

//fonts
$family-sans-serif: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

html, body {
  height: 100%;
  overflow-x: hidden;
}

select {
  width: $select-width;
}

#background-container {
  background-color: $deep-black;
}

#brand {
  background-color: $brand-primary;
  padding-left: 0px;
  padding-right: 0px;
  grid-area: header;
}

//#drawer {
//  background-color: $soft-black;
//  padding-left: 0px;
//  padding-right: 0px;
//}

#banner {
  background-color: $steel-gray;
  grid-area: subheader;
  padding: 10px 10px 0px 10px;
}

#content {
  background-color: $steel-gray;
  padding: 10px 10px 20px 10px;
  grid-area: main;
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 224px auto;
  grid-auto-rows: minmax(48px, 100%);
  height: 100%;
  grid-template-areas: "header header" "subheader subheader" "main main";
}

.mogul-subHeader {
  padding-left: 24px;
  padding-right: 12px;
  line-height: 64px;
  vertical-align: middle;
  background-color: $dirty-white;
}

.fa-heart-o {
  color: $bleeding-heart;
}

.fa-plus {
  color: $baby-blue;
}

.sorted-cell {
  background-color: lighten($cyan, 40%);
  font-weight: 700;
}

// transitions
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease;
}

.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-leave-to {
  opacity: 0;
}

.content-placeholders {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.display-none {
  display: none;
}

.fa-sort-up {
  vertical-align: bottom;
}

.fa-sort-down {
  vertical-align: top;
}

.sorted-item {
  height: 12px;
  cursor: pointer;
}

.sorted-up {
  height: 12px;
}

.scrollable {
  display: grid;
  height: calc(100% - 55px);
  overflow: overlay;
  background-color: $dirty-white;
}

// set derived variables
@import "../../node_modules/bulma/bulma.sass";

// icon effects
i:hover {
  cursor: pointer;
}

// bulma overrides
.table {
  margin-bottom: 0px;
  background-color: $dirty-white;
  table-layout: fixed;
  width: 100%;

  th {
    vertical-align: middle;
    color: $lilly-white;
  }

  tr {

    > th {
      background-color: $deep-black;
    }

    .small-spacing {
      min-width: 40px;
      width: 62px;
      max-width: 62px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .large-spacing {
      min-width: 220px;
      width: 220px;
      max-width: 220px;
    }
  }

  td {
    vertical-align: middle;
  }

}

.disable {
  color: $steel-gray;

  :hover {
    color: $steel-gray;
  }

  label {
    cursor: not-allowed;
    input {
      cursor: not-allowed;
    }
  }
}

.title {
  margin-bottom: 10px;
}

.control {
  font-size: $size-7;
}
