@import "../../node_modules/bulma/sass/utilities/initial-variables";

//colors
$lilly-white: #FAFAFA;
$snow-white: #FEFEFE;
$dirty-white: #F8F8F8;
$steel-gray: #D5D5D5;
$soft-black: #333840;
$deep-black: #2A2F35;
$brand-primary: #00D1B2;
$bleeding-heart: #FF3860;
$baby-blue: #209CEE;

$brand-title: darken($brand-primary, 20%);

$table-striped-row-even-background-color: $snow-white;

//sizes
$select-width: 96px;

//layout
$gap: 0px;

//tags
$tag-radius: 0px; //bulma override
$tag-border: 1px solid $steel-gray
