@import "../../node_modules/bulma/sass/utilities/initial-variables";

$lilly-white: #FAFAFA;
$snow-white: #FEFEFE;
$dirty-white: #F8F8F8;
$steel-gray: #D5D5D5;
$soft-black: #333840;
$deep-black: #2A2F35;
$brand-primary: #00D1B2;
$bleeding-heart: #FF3860;
$baby-blue: #209CEE;

$brand-title: darken($brand-primary, 20%);

//sizes
$select-width: 96px;

//layout
$gap: 0px;

//fonts
$brand-font-size: 1.125rem;
$is-size-7half: .875rem;
$is-size-8: 0.625rem;

//tags
$tag-radius: 0px;
$tag-border: 1px solid $steel-gray
