@import "../../styles/variables.scss";

#player {
  display: grid;
  grid-template-columns: 224px auto;
  grid-auto-rows: minmax(48px, 100vh);
  height: calc(100vh - 152px);
  grid-template-areas:
    "filter main";

  > #filter {
    grid-area: filter;
    padding: 12px;
    background-color: $dirty-white;
    height: 100%;
    overflow: auto;

    .matches {
      padding: 12px;
    }

    .line {
      background-color: black;
      height: 2px;
      margin-bottom: 24px;
    }

  }

  > #content {
    background-color: $steel-gray;
    padding: 0px 0px 0px 10px;
    grid-area: main;

    .table-wrapper {
      clear: both;
      height: 100%;
      overflow: hidden;
      box-shadow: 2px 2px 3px grey;
    }
  }

}

td:not(.player) {
  padding-top: 6px;
}

.matches {

  & .checkbox {
    padding-right: 3px;

    > input {
      margin-right: 3px;
    }
  }
}

.position {
  display: flex;

  .pitching {
    padding-left: 10px;
  }

}
