@import "../../styles/variables.scss";

$table-cell-heading-color: $deep-black;

#player {
  display: grid;
  grid-template-columns: 224px auto;
  grid-auto-rows: minmax(48px, 100%);
  height: 100%;
  grid-template-areas:
    "filter main";
}

#player > #filter {
  grid-area: filter;
  padding: 12px;
  background-color: $dirty-white;
  height: 100%;
}

.matches {
  padding: 12px;
}

#player > #content {
  background-color: $steel-gray;
  padding: 0px 0px 0px 10px;
  grid-area: main;
}

.title {
  margin-bottom: 10px;
}

.title.is-6 {
  font-size: $is-size-7half;
}

.tags {
  margin-bottom: 0px;
}

.tag {
  //width: 80%;
  border: $tag-border;
}

.tag:not(body).is-delete {
  margin-left: -1px;
}

.line {
  background-color: black;
  height: 2px;
  margin-bottom: 24px;
}

.checkbox {
  padding-right: 3px;

  > input {
    margin-right: 3px;
  }
}

.radio {
  padding-right: 3px;

  > input {
    margin-right: 3px;
  }
}

.table-wrapper {
  clear: both;
  height: 100%;
  //overflow: auto;
  width: 100%;
}

.fixedHeader {
  display: table;
  overflow: auto;
  width: 100%
}

.scrollable {
  display: block;
  height: 100vh;
  overflow: auto;
  width: 100%
}

// table overrides

.table {
  margin-bottom: 10px;
}

.thead {
  background-color: $deep-black;
  width: 100%;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;

  > .tr {
    height: inherit;
  }
}

.tbody {
  width: 100%;
  padding-top: 5px;
}

.table div {
  display: inline-block;
}

.td:not(.player) {
  font-size: 1.25rem;
  vertical-align: middle;
}

.tr > div {
  width: 6%;
}

.tr :first-child {
  width: 14%;
}

.tr {
  width: 100%;
}

.th {
  color: $lilly-white;
  position: relative;
  height: 42px;
}

i:hover {
  cursor: pointer;
}

.sorted-item {
  cursor: pointer;
  width: 100%;
}

.fa-sort-down {
  position: absolute;
  color: $deep-black;
  top: 18px;
  left: 10px;
  font-size: 1.3em;
}

.fa-sort-up {
  position: absolute;
  color: $lilly-white;
  /* bottom: 15px; */
  font-size: 1.3em;
  top: 23px;
  left: 10px;
}

.sorted-item {
  width: 100% !important;
}
